BasedOnStyle: Google
IndentWidth: 2
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
Standard: C++11
AccessModifierOffset: -1
DerivePointerAlignment: false
PointerAlignment: Left
